{
  "root": true,
  "extends": ["eslint:recommended", "plugin:security/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "security"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    // setup for ts files only
    {
      "files": "**/*.ts",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    }
  ]
}
